@inherits LayoutComponentBase
<RadzenComponents @rendermode="InteractiveServer" />
<div class="page">
    <main>
        <div class="top-row justify-content-center">
            <RadzenText TextStyle="TextStyle.H2">Netforemost To-do App</RadzenText>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
